* {
    margin: 0;
    padding: 0;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.topleft {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

.topright {
    width: 480px;
    font-size: 18px;
    font-weight: 600;
    color: #424242;
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    padding-top: 70px;
}

.tsone {
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    text-align: center;
}

.tstwo {
    color: #727272;
    font-size: 16px;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.tsbtn {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.topsecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 50px 0px;
}

.tsimg {
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.ti {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: rgba(255, 144, 14, 0.3)
}

.qimg {
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.bqimg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.quick {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 90px 0px 130px 0px;
}

.featureleft1 {
    color: #131313;
    font-size: 45px;
    font-weight: bold;
    padding-left: 25px;
    border-left: 10px solid #FF900E;
    margin-bottom: 30px;
}

.featureleft2 {
    color: #727272;
}

.featureheading {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}

.featuretext {
    font-size: 16px;
    color: #727272;
}

.featureleft3 {
    margin: 60px 0px 0px 30px;
}

.featurerightimg {
    width: 708px;
    height: 982px;
    border-radius: 8px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 130px;
}

.featurebtn {
    width: 342px;
    height: 200px;
    /* border: 25px solid #FF900E; */
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    border: none;
    margin: -120px 0px 0px -120px;
}

.featureright {
    display: flex;
    flex-direction: column;

}

.somefacts {
    color: #131313;
    font-size: 45px;
    font-weight: bold;
}

.but {
    color: #727272;
    margin-top: 24px;
}

.hudai {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon {
    width: 46px;
    height: 46px;
}

.h {
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.p {
    font-size: 20px;
    font-weight: 600;
}

.four {
    width: 242px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #FF900E;
    border-radius: 8px;
}

.fourbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin: 100px 0px 200px 0px;
}

.f1 {
    font-size: 45px;
    font-weight: bold;
}

.f2 {
    font-size: 16px;
    font-weight: normal;
    color: #727272;
    margin-top: 30px;
}

.f4 {
    font-size: 20px;
    font-weight: normal;
    color: #424242;
    margin-bottom: 50px;
}

.f3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 150px 0px;
    gap: 150px;
}

.f1,
.f2,
.f4 {
    text-align: center;
}

@media screen and (max-width:992px) {
    .top {
        flex-direction: column;
        gap: 20px;
    }

    .topleft {
        font-size: 30px;
    }

    .topright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topsecond {
        margin-top: 30px;
    }

    .tsone {
        font-size: 35px;
    }

    .tstwo {
        font-size: 10px;
        margin: 20px 0px 20px 0px;
        padding: 0px 20px 0px 20px;
    }

    .tsbtn {
        width: 90px;
        height: 36px;
        font-size: 10px;
    }

    .tsimg {
        width: 360px;
        height: 175px;
    }

    .header {
        max-width: 992px;
        margin: 0 auto;
    }

    .bqimg {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick {
        flex-direction: column;
    }

    .qimg {
        width: 220px;
        height: 220px;
    }
    .hoit{
        text-align: center;
    }
    .feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .featureleft1{
        font-size: 20px;
    }
    .featureleft2{
        font-size: 10px;
    }
    .featureleft3{
        margin-top: 20px;
    }
    .featureheading{
        font-size: 10px;
    }
    .featuretext{
        font-size: 8px;
    }
    .featureright{
        margin: 0px;
    }
    .featurerightimg{
        width: 400px;
        height: 555px;
    }
    .featurebtn{
        display: none;
    }
    .feature{
        margin: 30px;
    }
    .somefacts{
        font-size: 25px;
    }
    .but{
        font-size: 10px;
    }
    .hudai{
        text-align: center;
    }
    .fourbox{
        flex-direction: column;
        gap: 20px;
        margin: 20px 0px 20px 0px;
    }
    .h{
        font-size: 25px;
    }
    .p{
        font-size: 10px;
    }
    .four{
        width: 122px;
        height: 122px;
    }
    .f1{
        font-size: 25px;
        margin-top: 80px;
    }
    .f2, .f4{
        font-size: 13px;
        text-align: center;
        margin: 10px 20px;
    }
    .f4{
        margin: 30px 0px;
    }
    .f3{
        flex-direction: column;
        gap: 20px;
        margin: 50px 0px 50px 0px;
    }
    .container{
        margin: 0 auto;
    }

}