* {
    margin: 0;
    padding: 0;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.topleft {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

.topright {
    width: 480px;
    font-size: 18px;
    font-weight: 600;
    color: #424242;
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    padding-top: 70px;
}

.tsone {
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    text-align: center;
}

.tstwo {
    color: #727272;
    font-size: 16px;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.tsbtn {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.topsecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 50px 0px;
}

.tsimg {
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.ti {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: rgba(255, 144, 14, 0.3)
}
.qimg{
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.bqimg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.quick{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 90px 0px 130px 0px;
}
.featureleft1{
    color: #131313;
    font-size: 45px;
    font-weight: bold;
    padding-left: 25px;
    border-left: 10px solid #FF900E;
    margin-bottom: 30px;
}
.featureleft2{
    color: #727272;
}
.featureheading{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
}
.featuretext{
    font-size: 16px;
    color: #727272;
}
.featureleft3{
    margin: 60px 0px 0px 30px;
}
.featurerightimg{
    width: 708px;
    height: 982px;
    border-radius: 8px;
}
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 130px;
}
.featurebtn{
    width: 342px;
    height: 200px;
    /* border: 25px solid #FF900E; */
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    border: none;
    margin: -120px 0px 0px -120px;
}
.featureright{
    display: flex;
    flex-direction: column;

}
.somefacts{
    color: #131313;
    font-size: 45px;
    font-weight: bold;
}
.but{
    color: #727272;
    margin-top: 24px;
}
.hudai{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.icon{
    width: 46px;
    height: 46px;
}
.h{
    font-size: 45px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}
.p{
    font-size: 20px;
    font-weight: 600;
}

.four{
    width: 242px;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #FF900E;
    border-radius: 8px;
}
.fourbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin: 100px 0px 200px 0px;
}
.f1{
    font-size: 45px;
    font-weight: bold;
}
.f2{
    font-size: 16px;
    font-weight: normal;
    color: #727272;
    margin-top: 30px;
}

.f4{
    font-size: 20px;
    font-weight: normal;
    color: #424242;
    margin-bottom: 50px;
}
.f3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 150px 0px;
    gap: 150px;
}
.f1, .f2, .f4{
    text-align: center;
}


@media screen and (max-width: 992px) {
    .topleft {
        font-size: 50px;
    }

    .topright {
        flex-direction: column;
        align-items: center;
    }

    .top {
        flex-direction: column;
        padding-top: 40px;
        gap: 20px;
    }

    .tsone {
        font-size: 40px;
        text-align: center;
        margin-top: -20px;
    }

    .tstwo {
        font-size: 18px;
        text-align: center;
        margin: 10px 20px 20px 20px;
    }

    .tsbtn {
        width: 150px;
        height: 54px;
        font-size: 16px;
    }

    .topsecond {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tsimg {
        width: 600px;
        height: 294px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .ti {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}