* {
    margin: 0;
    padding: 0;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.topleft {
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}

.topright {
    width: 480px;
    font-size: 18px;
    font-weight: 600;
    color: #424242;
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    padding-top: 70px;
}

.tsone {
    font-size: 64px;
    font-weight: bold;
    color: #131313;
    text-align: center;
}

.tstwo {
    color: #727272;
    font-size: 16px;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.tsbtn {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.topsecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 50px 0px;
}

.tsimg {
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.ti {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: rgba(255, 144, 14, 0.3)
}

@media screen and (max-width: 992px) {
    .topleft {
        font-size: 50px;
    }

    .topright {
        flex-direction: column;
        align-items: center;
    }

    .top {
        flex-direction: column;
        padding-top: 40px;
        gap: 20px;
    }

    .tsone {
        font-size: 40px;
        text-align: center;
        margin-top: -20px;
    }

    .tstwo {
        font-size: 18px;
        text-align: center;
        margin: 10px 20px 20px 20px;
    }

    .tsbtn {
        width: 150px;
        height: 54px;
        font-size: 16px;
    }

    .topsecond {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tsimg {
        width: 600px;
        height: 294px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .ti {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}